body.theme-gruvbox {
  --bg: #1d2021;
  --fg: #d4be98;
  --red: #ea6962;
  --green: #a9b665;
  --yellow: #d8a657;
  --blue: #7daea3;
  --purple: #d3869b;
  --aqua: #89b482;
  --gray: #665c54;
  --orange: #e78a4e;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Consolas', 'Monaco', 'Courier New', Courier, monospace;
  font-size: 1rem;
}

#root {
  height: 100vh;
}